@import url(header.css);
@import url(footer.css);
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');

.sale-banner__content{
    align-items: center;
    background-color: var(--amarelo-banner-promocoes);
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
}

.sale-banner__image{
    height: 200px;
}

.sale-banner__text{
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 1rem;
}

.product {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.product__title{
    align-items: left;
    color: var(--);
}

.product__content{
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.product__box{
    border: 2px solid var(--cinza);
    padding: 1rem;
}